QPushButton#Show {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #8f8f91;
    border-radius: 6px;
    padding: 4px 8px;
    margin: 0px;
    font-weight: bold;
}

QPushButton#Show:hover {
    background-color: #f0f0f0;
    border-color: #6c6c6c;
}

QPushButton#Show:pressed {
    background-color: #d6d6d6;
    border-color: #5a5a5a;
}

